################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudChoice/.vs/StudChoice/v16/Server/sqlite3
