@model StudChoice.BLL.DTOs.FacultyDTO

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="DisplayName">Назва Факультету</label>
        <input asp-for="DisplayName" class="form-control" required value="@Model.DisplayName" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Опис</label>
        <input asp-for="Description" class="form-control" required value="@Model.Description" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Зберегти</button>
        <a asp-action="Index" class="btn btn-danger">Скасувати</a>
    </div>
</form>

